.product.oneo .product_tag
{
	background: #bbe432;
}
.product.onetwo .product_tag
{
	background: #fd006b;
}
.product.oneeight .product_tag
{
	background: #414141;
}
.product.twofour .product_tag
{
	background: #7b53c4;
}
.product.threetwo .product_tag
{
	background: #d62ba3;
}
.product.fiveo .product_tag
{
	background: #da811b;
}
.product.seventwo .product_tag
{
	background: #4dc4e9;
}
.product.sevenoo .product_tag
{
	background: #1faf73;
}